{% include 'important/base.html' %}
{% block content %}
{% load static %}


  

    <section class="instructor-bio-section">
        <div class="container instructor-bio-section-container">
            <div class="instructor-row row">
                <div class="col image-column">
                    <div class="img"></div>
                    <img src="{% static '/Images/profile/2.png' %}" alt="" class="ball-png">

                    <div class="name-and-qualification">
                        <h1 class="name">
                            {{instructor_detail.name}}
                        </h1>

                        <p class="qualification">
                            {{instructor_detail.teaching_skill}}
                        </p>
                    </div>
                </div>

                <div class="about-column">
                    <div class="about-column-container">
                        <div class="about-text">
                            {{instructor_detail.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="my-course-section">
        <div class="my-course-section-container container">
            <div class="row my-course-section-row">
                <div class="col span-2-of-5 color-column">
                    
                </div>

                <div class="col span-3-of-5 other-courses-column">
                    <div class="row other-courses-row">


                {% for object in courses1 %}

                        <div class="col span-1-of-3 course-column">
                            <div class="course-container">
                                <a href="{% url 'detail-page' object.slug%}">
                                    <div class="course-img-div">
                                        <img src="{{object.images.url}}" alt="">
                                    </div>

                                    <div class="course-title-div">
                                        <h2 class="course-title">
                                            {{object.title}}
                                        </h2>
                                    </div>

                                    <div class="course-text-div">
                                        <p class="course-text">
                                            {{object.short_description}}
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>

                {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

   
    <!-- Section Ends Here -->



    <!-- Footer Starts Here -->
    <footer class="page-footer">
        <div class="container page-footer__container">
            <div class="copyright-text-div">
                <strong class="copyright-text">
                    &copy;2016-2020 TutorialPoints Company
                </strong>
            </div>
            <div class="footer-links-div">
                <ul class="footer-list">
                    <li class="footer-item"><a href="#" class="footer-link">Facebook .</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Twitter .</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Linkdin</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer Ends Here -->

    <script src="{% static '/js/navbar.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

 {% endblock content %}
