{% include 'base.html' %}
{% block content %}
{% load static %}
   

    <!-- Section Starts Here -->
            <section class="main-section">
                <img src="{% static '/Images/Login/an-abstract-design-2881261.jpg' %}" alt="">
                <div class="container main-section-container">
                    <div class="row">
                        <div class="col span-5-of-12 text-column">
                            <div class="back-link-div">
                                <h2>
                                    <a href="#" class="back-link">Back</a>
                                </h2>
                            </div>

                            <div class="heading-div">
                                <h1 class="heading">Change password</h1>
                            </div>

                            <div class="paragraph-div">
                                <p class="paragraph">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laboriosam adipisci assumenda. Modi, assumenda iusto aliquam esse facere nobis voluptate exercitationem, harum, quis tenetur cum.
                                </p>
                            </div>
                        </div>

                        <div class="col span-7-of-12 form-column">
                            <div class="login">
                                <div class="login-heading">
                                    <h1>
                                        Change password
                                    </h1>
                                </div>
                                <div class="form-div">

                                    <form action="{% url 'password' %}" method="POST">
                                    {% csrf_token %}
                                        
                                            {{form.as_p}}
                                            
                                        <div class="links-group">
                                            <button type="submit" class="form-btn">
                                                save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!-- Section Ends Here -->



    <!-- Footer Starts Here -->
    <footer class="page-footer">
        <div class="container page-footer__container">
            <div class="copyright-text-div">
                <strong class="copyright-text">
                    &copy;2016-2020 TutorialPoints Company
                </strong>
            </div>
            <div class="footer-links-div">
                <ul class="footer-list">
                    <li class="footer-item"><a href="#" class="footer-link">Facebook .</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Twitter .</a></li>
                    <li class="footer-item"><a href="#" class="footer-link">Linkdin</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Footer Ends Here -->


{% endblock content %}

