@media only screen and (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1000px) {
  .filter-column {
    display: none;
  }
  .courses-column {
    width: 100%;
    margin-left: 0;
  }
  .color-column {
    display: none;
  }
  .other-courses-column {
    width: 100%;
  }
  .other-courses-column .other-courses-row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .other-courses-column .other-courses-row .course-column {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .other-courses-column .other-courses-row .course-column .course-container {
    max-width: none !important;
  }
  .more-instructors .crsl .crsl-container .carousel-cell {
    width: 40% !important;
  }
  .more-instructors .crsl .crsl-container .carousel-cell .instructor-card {
    max-width: none !important;
  }
  .popular-section-row .popular-section-container .flex-container .flex-item {
    width: 250px;
  }
  .course-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .course-container .course-context .course-heading-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: end !important;
  }
  .course-container .course-context .course-heading-price .course-heading h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-container .course-context .course-heading-price .course-heading h2 span {
    margin-left: 0 !important;
    margin-top: 1rem;
  }
  .course-container .course-context .course-heading-price .course-price {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .header-para {
    width: 100%;
  }
  .more-instructors .crsl .crsl-container .carousel-cell {
    width: 60% !important;
  }
  .popular-section-row .popular-section-container .flex-container .flex-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .course-container {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: end !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-container .course-img {
    margin-bottom: 1.87rem;
  }
  .course-container .course-img img {
    width: 100% !important;
    height: auto !important;
  }
  .course-container .course-context .course-heading-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: end !important;
  }
  .course-container .course-context .course-heading-price .course-heading h2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .course-container .course-context .course-heading-price .course-heading h2 span {
    margin-left: 1rem !important;
    margin-top: 1rem;
  }
  .course-container .course-context .course-heading-price .course-price {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .header-para {
    width: 100% !important;
  }
  .more-instructors .crsl .crsl-container .carousel-cell {
    width: 90% !important;
  }
  .number-of-courses-div {
    display: none;
  }
  .popular-section-row .popular-section-container .flex-container .flex-item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .course-container {
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: end !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-container .course-img {
    margin-bottom: 1.87rem;
  }
  .course-container .course-img img {
    width: 100% !important;
    height: auto !important;
  }
  .course-container .course-context .course-heading-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: end !important;
  }
  .course-container .course-context .course-heading-price .course-heading h2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .course-container .course-context .course-heading-price .course-heading h2 span {
    margin-left: 1rem !important;
    margin-top: 1rem;
  }
  .course-container .course-context .course-heading-price .course-price {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=courses.css.map */